{% extends "layout.html" %}

{% block content %}

<div class="container">
    <img src="data:image/png;base64,{{ result['image_waveform'] }}" alt="Waveform Image">
    <img src="data:image/png;base64,{{ result['image_spectogramme'] }}" alt="Spectrogramme">
    <!-- <audio id="audioPlayer" controls > 
        <source id="audioSource" type="audio/ogg"  src=" {{result['file_audio'] }}"> 
         <source src="{{ url_for('static', filename='audio/' ~ filename) }}" type="audio/mpeg"> Your browser does not support the audio element. </audio>
    </audio> -->
</div>

{% endblock %}