{% extends "layout.html" %}
{% block content %}

<div class="container">

    <h2>1. Déclaration</h2>
        <p>
            1.1. Nous reconnaissons que la protection de la vie privée est l'affaire de tous et, pour cette raison, nous nous engageons à préserver la confidentialité des informations de nos utilisateurs. La présente politique de confidentialité explique non seulement comment nous recueillons, partageons et utilisons toute information liée à vos données personnelles lorsque vous utilisez notre site Web, mais aussi comment vous pouvez accéder à vos informations personnelles, les mettre à jour ou en prendre le contrôle.
        </p>

        <p>
            1.2. En utilisant ce site, vous acceptez la présente politique de confidentialité.
        </p>

    <h2>2. Informations collectées et leur finalité</h2>

        <p>
            2.1. Dans le cadre de l’utilisation de notre service, des enregistrements audio peuvent être collectés afin de réaliser des traitements d'inférence pour l’identification d’espèces d’oiseaux. Ces enregistrements peuvent contenir des informations sensibles, mais ils ne sont pas conservés de manière persistante. Aucun enregistrement n'est partagé avec des tiers. Les données utilisées pour l'entraînement du système proviennent exclusivement de sources publiques et vérifiables. Aucune autre finalité ou traitement n'est appliqué aux données collectées, qui sont uniquement utilisées pour l’identification des espèces. Toutes les informations collectées sont stockées dans un environnement sécurisé, non accessible au public, afin de garantir la confidentialité et la sécurité des données.
        </p>

    <h2>3. Stockage et sécurité des données</h2>

    <p>
        3.1 Les données collectées dans le cadre de l’identification des espèces d’oiseaux sont stockées de manière sécurisée dans un environnement protégé, non accessible au public. Bien que nous ne recourions pas à l’encryption des données, l’intégralité de notre pipeline utilise des connexions sécurisées (protocoles HTTPS et autres liens sécurisés) afin de garantir la confidentialité et l’intégrité des données transmises. Nous mettons en œuvre des mesures techniques et organisationnelles appropriées pour protéger les données contre toute perte, utilisation abusive, accès non autorisé ou divulgation. Toutefois, aucune méthode de transmission ou de stockage de données n'est complètement sécurisée, et nous nous engageons à mettre à jour nos pratiques pour améliorer constamment la sécurité des informations traitées.
    </p>

</div>

{% endblock %}
